/*About Sec*/
.about-img{
	box-shadow: 0 5px 25px 0 rgba(0,0,0,.2);
	border-radius: 5px;
}
.about-img-container{
	position: relative;
}
.about-img-container .sec-img{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	transition: transform 0.8s;
}
.about-img-container .sec-img:hover{
	transform: translate(20px, 20px);
}

/*Explore Sec*/
#explore-sec h1{
	font-weight: bold;
	margin-bottom: 10px;
}
#explore-sec {
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
}


/*Services Sec*/
#services-sec .card{
	margin-bottom: 20px;
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.2);
    min-height: 485px;
}
#services-sec #last-card{
    min-height: 532px;
}
#services-sec .card-body{
	padding: 40px 20px;
}
#services-sec a{
    font-weight: 600;
    background-color: #555;
    color: #fff;
}
#services-sec .card-btn{
	position: absolute;
	top: 95%;
	display: flex;
	justify-content: center;
	width: calc(100% - 40px);
}
.translate-150{
	transform: translateY(150px);
	opacity: 0.5;
}
.animate {
	animation-duration: 1s;
	animation-name: MovingFade;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
@keyframes MovingFade{
	to{
		transform: translateY(0px);
		opacity: 1;
	}
}

/*Stats*/
#stats-sec{
	position: relative;
	min-height: 590px;	
	background-image: url(../images/quality-service-bg.webp);
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 80px 20px 30px 20px;
}
.promo-container {
	position: absolute;
	right: 40px;
	width: 600px;
	background-color: #fff;
	border-radius: 5px;
	padding: 50px 40px;
	overflow: hidden;
}
.stats-container{
	display: flex;
	justify-content: space-evenly;
}
.promo-container:after{
	content:'';
	position: absolute;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-bottom: 71px solid transparent;
    border-left: 71px solid #ffc107;
    left: 0;
    transition: all .5s linear;
    top: -150px!important;
}
.promo-container:hover:after{
    top: 0px!important;
}
@media(max-width: 700px){
	.promo-container{
		position: static;
		right: 0px;
		margin: 0 auto;
		width: 100%;
	}
	#stats-sec{
		position: static;
	}
}